ai2thor==3.1.0
boto3==1.24.27
fuzzywuzzy==0.18.0
networkx==2.5
pydub==0.24.1
python-Levenshtein
tqdm
pillow
pydantic==1.8.2
numpy
pandas
opencv-python
vocab
revtok
sacred
etaprogress
scikit-video
lmdb
gtimer
filelock
termcolor
torch==1.13.1
torchvision==0.14.1
tensorboardX==1.8
Flask==2.0.3
flask_restful==0.3.9
Werkzeug==2.2.3
Flask-Cors==3.0.9
Flask-SocketIO==4.3.1
flask_wtf==1.0.1
markupsafe==2.0.1
future
pandoc
six
typing
ConfigArgParse
protobuf==3.20.2